<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <remove name="FluentNHibernateTeste-Local" />
    <add name="FluentNHibernateTeste-Local" connectionString="Data Source=(local);Initial Catalog=FluentNHibernateTeste;Integrated Security=False; User Id=sa; Password=sa;Connect Timeout=3600;Max Pool Size=36000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>